.container{
   margin: 2% auto;
   max-width: 100%;
   width: 700px;
   height: 500px;
   display: flex;
   background-color:#2596be;
   padding: 16px;
   border-radius: 10px;
}

.content{
    background-color: #0b2d39;
    border: 3px solid #fff;
    max-width: 400px;
    width: 100%;
    height: 450px;
    padding: 16px;
    
}
.content h1{
    text-align: center;
    color:gold;
}
.resultdo{
    
    width: 100%;
    max-width: 300px;
    height: 450px;
    padding: 16px;
    background-color: #fff;
}
.altura, .peso{
    padding: 16px;
    width: 100%;
    color:#fff;
}
.altura input, .peso input{
    border-radius: 10px;
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
    font-size: 18px;
}
.botao{
    width: 100%;
    display: flex;
    justify-content: center;
}
.content .btn{
    box-shadow: 1px 3px 5px 3px #000;
    border:none;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
    color:green;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;

}
.resultdo h2{
    text-align: center;
    text-transform: uppercase;
    text-shadow: #000 1px 2px;
    letter-spacing: 5px;
    color:#7cc0d8;
    margin-bottom: 10px;
}
.resultados, .cliente{
    padding: 10px;
    margin-bottom: 10px;
    text-align:left ;
    background-color: #e4e0e0;
}
.cliente{
    padding: 10px;
}
.resultados{
    height: 180px;
    margin-bottom: 5px;
}
.botoes{
    display: flex;
    flex-direction: column;
}
.imc{
    margin-bottom: 5px;
    width: 250px;
    color: rgb(252, 252, 252);
    padding: 16px;
    background-color: #be4d25;
    border-radius: 5px;
    font-weight: bold;

}
.limpar{
    color:#fdfdfd;
    background-color: #6c25be;
    height: 40px;
    width: 250px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;

}

@media screen and (max-width:450px) {
    .container{
       justify-content: center;
        height: auto;
       flex-wrap: wrap;
      
      
     }

   
}